<!DOCTYPE html>
<html>

<head>
  <% include head.ejs %>
</head>

<body>
  <% include header.ejs %>

  <div class="py-5 bg-primary text-light w-100 h-75">
  <div class="container">

  <div class="row" style="height:60vh;">
      <div class="align-self-center col-md-6 text-white">
        <h1 class="text-white text-center">การทดลอง การจดจำภาพ</h1>                    
        <p class="">
          <br>วิธีการทดลอง
          <br>1) จะมีภาพแสดงขึ้นมาให้จำในตอนแรก
          <br>2) จะมีภาพแสดงขึ้นมา 4 ภาพเพื่อให้เลือกว่าภาพใด อยู่ในภาพที่แสดงในตอนแรก
        </p>
        <div class=" col-md-12 p-3">
            <a id="trial-7" class="btn btn-secondary w-100" href="/trial/07">ทดลองทดสอบ</a>
          </div>
      </div>
      
      <div class="col-md-6">
          <div class="col-md-12 p-3 bg-primary"> 
              <h1 class="text-white text-center">เลือกการทดลอง</h1>          
          </div>                        
          <% for(var i = 1, n = 6; i <= n; i++) { %>
            <div class="row" style="height:<%=60.0/(n+1)%>vh;">
              <div class="bg-secondary col-md-12 p-3">
                <a id="trial-<%=i%>" class="btn btn-primary w-100" href="/trial/<%=i%>">การทดลองที่ <%=i%></a>
              </div>
            </div>
          <% } %>
      </div>
  </div>

  </div>
  </div>

  <% include footer.ejs %>
  <% include script.ejs %>
  <script>
  $(() => {
    var aTrial = [$('#trial-1'), $('#trial-2'), $('#trial-3'),
    $('#trial-4'), $('#trial-5'), $('#trial-6'), $('#trial-7')];

    <% payload.trial.forEach((index) => { %> 
      aTrial[<%=index%>].attr('href', '#');
      aTrial[<%=index%>].attr('class', 'btn btn-dark w-100');
    <% }); %>
  });
  </script>
</body>

</html>